.header__heading {
  font-family: 'Inter Black';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin: 136px auto 0;
  width: 720px;
  height: 200px;
  text-align: center;
}

@media screen and (max-width: 1028px) {
  .header__heading {
    margin-top: 128px;
  }
}

@media screen and (max-width: 720px) {
  .header__heading {
    margin-top: 106px;
    font-size: 40px;
    line-height: 1.1;
    width: 288px;
    height: 88px;
  }
}
