.lead__title {
  font-family: 'Inter Black';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin: 48px 0 0;
  /* width: 720px;
  height: 200px; */
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-weight: 900;
    font-size: 68px;
    line-height: 1.1x;
  }
}

@media screen and (max-width: 540px) {
  .lead__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1x;
  }
}
