.footer__copyright {
  font-size: 14px;
  line-height: 1.1;
  font-weight: 400;
  text-align: right;
  width: 250px;
}

@media screen and (max-width: 750px) {
  .footer__copyright {
    line-height: 1;
    text-align: left;
    margin-top: 16px;
  }
}
