@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__heading/header__heading.css);
@import url(../blocks/header/__subline-heading/header__subline-heading.css);
@import url(../blocks/header/__image/header__image.css);
@import url(../blocks/header/__lang-container/header__lang-container.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);
@font-face {
  font-family: 'Inter Regular';
  src: local('Inter Regular'),
    url('../vendor/Inter/Inter-Regular.woff2') format('woff2'),
    url('../vendor/Inter/Inter-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter Black';
  src: local('Inter Black'),
    url('../vendor/Inter/Inter-Black.woff2') format('woff2'),
    url('../vendor/Inter/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter Bold';
  src: local('Inter Bold'),
    url('../vendor/Inter/Inter-Bold.woff2') format('woff2'),
    url('../vendor/Inter/Inter-Bold.woff') format('woff');
}
