.cover__title {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0 0 33px;
  max-width: 560px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
    margin: 0 0 16px;
  }
}
