.header__switch {
  width: 70px;
  display: flex;
  font-family: 'Inter Regular';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  position: absolute;
  top: 54px;
  right: 48px;
  margin: 0;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .header__switch {
    top: 46px;
    right: 48px;
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .header__switch {
    top: 46px;
    right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .header__switch {
    font-size: 18px;
    line-height: 1.11;
    top: 30px;
    right: 16px;
  }
}
