.header__subline-heading {
  font-family: 'Inter Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 32px 0 0 0;
}

@media screen and (max-width: 720px) {
  .header__subline-heading {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
}
